@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    --background-color-light: #fff;
    --text-color-light: #000;
    --link-color-light: #000;
    --link-hover-background-light: #000;
    --link-hover-color-light: #fff;
    --box-shadow-light: 0 0 5px black, 0 0 25px black, 0 0 50px black, 0 0 100px black, 0 0 200px black;
    --background-color-dark: #222;
    --text-color-dark: #fff;
    --link-color-dark: #fff;
    --link-hover-background-dark: #fff;
    --link-hover-color-dark: #000;
    --box-shadow-dark: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
    --moon-icon-color-dark: #fff;  
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow: hidden;
}

body {
    background: var(--background-color-light);
    color: var(--text-color-light);
}

.links-container a {
    color: var(--link-color-light);
    background-color: var(--background-color-light);
}

.links-container a:hover {
    background-color: var(--link-hover-background-light);
    color: var(--link-hover-color-light);
    box-shadow: var(--box-shadow-light);
}

html[data-theme='dark'] {
    --background-color-light: #222;
    --text-color-light: #fff;
    --link-color-light: #fff;
    --link-hover-background-light: #fff;
    --link-hover-color-light: #000;
    --box-shadow-light: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
    
    body {
        background: var(--background-color-dark);
        color: var(--text-color-dark);
    }

    .links-container a {
        color: var(--link-color-dark);
        background-color: var(--background-color-dark);
    }

    .links-container a:hover {
        background-color: var(--link-hover-background-dark);
        color: var(--link-hover-color-dark);
        box-shadow: var(--box-shadow-dark);
    }

    #theme-icon.fa-moon {
        color: var(--moon-icon-color-dark);
    }
    .moon-icon {
        color: white;  
    }
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('cat.png') no-repeat;
    animation: catAnimation 20s linear infinite;
    background-size: 100px;
    z-index: -1;
}

@keyframes catAnimation {
    0% {
        background-position: center top;
        transform: scale(1);
    }
    25% {
        background-position: center 50%;
        transform: scale(1.05);
    }
    50% {
        background-position: center 100%;
        transform: scale(1.1);
    }
    75% {
        background-position: center 150%;
        transform: scale(1.05);
    }
    100% {
        background-position: center 200%;
        transform: scale(1);
    }
}

.links-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 400px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(400px);
    z-index: 999;
}

.perfil img {
    margin: 1rem;
    border-radius: 100%;
    max-width: 200px;
    height: auto;
}

.perfil img:hover {
    box-shadow: 0 0 5px black, 0 0 25px black, 0 0 50px black, 0 0 100px black, 0 0 200px black;
    border: solid black 0.1rem;
}

.ft-perfil img {
    filter: grayscale(0%);
    transition: 0.5s ease;
    cursor: pointer;
}

.ft-perfil img:hover {
    transform: scale(1);
    filter: grayscale(100%);
}

.perfil h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--text-color-light);
    font-weight: 900;
}

.links-container a {
    text-decoration: none;
    color: var(--link-color-light);
    background-color: var(--background-color-light);
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0.4rem;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
    border: solid black 0.1rem;
    transition: all 0.5s ease;
}

.links-container a:hover {
    background-color: var(--link-hover-background-light);
    color: var(--link-hover-color-light);
    box-shadow: var(--box-shadow-light);
}

.links-container a:active {
    transform: scale(0.96);
}

.links-container p {
    color: var(--text-color-light);
    font-size: 1rem;
}

.social-icons {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .perfil img {
        max-width: 150px;
    }

    .perfil h1 {
        font-size: 1.5rem;
    }
}
